@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Beiruti:wght@200..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/couture');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/*          폰트        */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Couture Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Couture Bold'), url('couture-bld.woff') format('woff');
}
@font-face {
  font-family: 'Couture Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Couture Bold Italic'), url('couture-bldit.woff') format('woff');
}
@font-face {
  font-family: "ABChanel Corpo Regular";
  src: url("https://db.onlinewebfonts.com/t/5fd740bac1abfb826fb7e35ae963efc9.eot");
  src: url("https://db.onlinewebfonts.com/t/5fd740bac1abfb826fb7e35ae963efc9.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/5fd740bac1abfb826fb7e35ae963efc9.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/5fd740bac1abfb826fb7e35ae963efc9.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/5fd740bac1abfb826fb7e35ae963efc9.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/5fd740bac1abfb826fb7e35ae963efc9.svg#ABChanel Corpo Regular")format("svg");
}
@font-face {
  font-family: "abchanel-2022";
  src: local('abchanel-2022'), url('ABChanel2022-ExtraLight.woff2') format('woff2'),url("ABChanel2022-ExtraLight.woff") format("woff"),url("ABChanel2022-ExtraLight.ttf") format("ttf");
  font-style: normal;
  font-weight: 200
}

@font-face {
  font-family: "abchanel-2022";
  src: local('abchanel-2022'), url('ABChanel2022-Light.woff2') format("woff2"),url('ABChanel2022-Light.woff') format("woff"),url('ABChanel2022-Light.ttf') format("ttf");
  font-style: normal;
  font-weight: 300
}
@font-face {
  font-family: "abchanel-2022";
  src: local('abchanel-2022'), url('ABChanel2022-Regular.woff2') format("woff2"),url('ABChanel2022-Regular.woff') format("woff"),url('ABChanel2022-Regular.ttf') format("ttf");
  font-style: normal;
  font-weight: 400
}
@font-face {
  font-family: "abchanel-2022";
  src: local('abchanel-2022'), url('ABChanel2022-SemiBold.woff2') format("woff2"),url('ABChanel2022-SemiBold.woff') format("woff"),url('ABChanel2022-SemiBold.ttf') format("ttf");
  font-style: normal;
  font-weight: 600
}
@font-face {
  font-family: "chanel-kittithada";
  font-display: swap;
  src: url("https://fonts.chanel.com/k/4e101e79ab279d7c52f3b8275d4c66571ce196d2-l.woff2") format("woff2"),url("https://fonts.chanel.com/k/4e101e79ab279d7c52f3b8275d4c66571ce196d2-d.woff") format("woff"),url("https://fonts.chanel.com/k/4e101e79ab279d7c52f3b8275d4c66571ce196d2-a.otf") format("opentype");
  font-style: normal;
  font-weight: 400
}
@font-face {
  font-family: "chanel-kittithada";
  font-display: swap;
  src: url("https://fonts.chanel.com/k/a5ccb3793a16babba4ce3b98602be3c92ea629ee-l.woff2") format("woff2"),url("https://fonts.chanel.com/k/a5ccb3793a16babba4ce3b98602be3c92ea629ee-d.woff") format("woff"),url("https://fonts.chanel.com/k/a5ccb3793a16babba4ce3b98602be3c92ea629ee-a.otf") format("opentype");
  font-style: normal;
  font-weight: 700
}
@font-face {
  font-family: "abchanel-corpo";
  font-display: swap;
  src: url("https://fonts.chanel.com/k/29d2ee826a834270fc144dccbb2359ae46f53c3b-l.woff2") format("woff2"),url("https://fonts.chanel.com/k/29d2ee826a834270fc144dccbb2359ae46f53c3b-d.woff") format("woff"),url("https://fonts.chanel.com/k/29d2ee826a834270fc144dccbb2359ae46f53c3b-a.otf") format("opentype");
  font-style: normal;
  font-weight: 400
}

@font-face {
  font-family: "abchanel-corpo";
  font-display: swap;
  src: url("https://fonts.chanel.com/k/64b14ed9188172fd562480b882a998c1cb8e8eb2-l.woff2") format("woff2"),url("https://fonts.chanel.com/k/64b14ed9188172fd562480b882a998c1cb8e8eb2-d.woff") format("woff"),url("https://fonts.chanel.com/k/64b14ed9188172fd562480b882a998c1cb8e8eb2-a.otf") format("opentype");
  font-style: normal;
  font-weight: 300
}

@font-face {
  font-family: "abchanel-corpo";
  font-display: swap;
  src: url("https://fonts.chanel.com/k/4557ee3c5c7e229667c02c3e802771f4feae8659-l.woff2") format("woff2"),url("https://fonts.chanel.com/k/4557ee3c5c7e229667c02c3e802771f4feae8659-d.woff") format("woff"),url("https://fonts.chanel.com/k/4557ee3c5c7e229667c02c3e802771f4feae8659-a.otf") format("opentype");
  font-style: normal;
  font-weight: 600
}

@font-face {
  font-family: "abchanel-corpo";
  font-display: swap;
  src: url("https://fonts.chanel.com/k/1b32c8a567ffef9b4919d90a39670b0f25b146bc-l.woff2") format("woff2"),url("https://fonts.chanel.com/k/1b32c8a567ffef9b4919d90a39670b0f25b146bc-d.woff") format("woff"),url("https://fonts.chanel.com/k/1b32c8a567ffef9b4919d90a39670b0f25b146bc-a.otf") format("opentype");
  font-style: normal;
  font-weight: 200
}

.font-noto {
  font-family: "Noto Sans KR", sans-serif;
}

.font-cou {
  font-family: 'Couture Bold';
}
.font-abcha{
  font-family: "abchanel-2022";
}
.font-pretent {
  font-family: "Pretendard-Regular";
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Pretendard-Regular',"Open Sans", sans-serif;
  color: #272829;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h3,
h4,
h5,
h6 {
  font-family: "abchanel-2022", sans-serif;
}
h2 {
  font-family: 'ABChanel Corpo Regular';
  font-weight: bold;
  font-size: 40px;
}

h2 i {
  font-size: 30px;
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
  border: thin solid black;
  background: white;
}

.back-to-top i {
  font-size: 28px;
  color: black;
  line-height: 0;
}

.back-to-top:hover {
  background: black;
  color: #fff;
  i {
    color: white;
  }
  transition: background 0.5s ease-in-out, color .5s, background-color .5s, border-color .5s;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #0563bb;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 991px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: black;
  padding: 20px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: rgba(255,255,255,0.3);
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 15px;
}

.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: #45505b;
}

@media (min-width: 992px) {

  .nav-menu a,
  .nav-menu a:focus {
    width: 56px;
  }

  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: #fff;
  }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  color: #fff;
  background: rgba(0,0,0,.6);
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
  color: #fff;
}

.nav-menu a:hover,
.nav-menu li:hover>a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
  display: block;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
}

.mobile-nav-toggle i {
  color: black;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #fff;
  background-color: black;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-color: white;
  
  position: relative;
  h2 {
    margin: 0;
    color: rgba(255,255,255,.9);
    font-size: 200px;
  }
}


.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  opacity: 0.8;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;

}
.me {
  width: 30%;
  margin: 10%;
  border-radius: 50%;
  filter: opacity(0.9);
}
@media (min-width: 992px) {
  #hero {
    padding-left: 160px;
  }
  .me {
    margin: 10% 30%;
    width: 25%;
  }

}

#hero:before {
  content: "";
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: white;
  font-family: 'Pretendard-Regular';
  letter-spacing: 6px;
}

#hero p {
  color: white;
  margin: 15px 0 0 0;
  font-size: 26px;
  font-family: 'Pretendard-Regular';
  letter-spacing: 6px;
  filter: drop-shadow(-7px 12px 2px rgba(0, 0, 0, 0.7));
}

#hero p span {
  font-family: 'Pretendard-Regular';
  color: white;
  letter-spacing: 6px;

}

#hero .social-links {
  margin-top: 30px;
}

#hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: #45505b;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

#hero .social-links a:hover {
  color: #0563bb;
}

@media (max-width: 992px) {
  #hero {
    text-align: center;
  }

  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }

  #hero p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
#intro {
  font-family: 'GmarketSans';
}

#intro span {
  font-family: 'Pretendard-Regular';
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title-ul{
  font-size: 17px;
  border: 5px solid black;
  font-family: 'Pretendard-Regular';
  margin: 10% 20% 20%;
  text-align: left;

}
@media (max-width: 991px) {
  .section-title-ul{
    margin-left: 3%;
    margin-right: 3%;
  }
}
.introduce {
  margin-top: 45px;
  .introTitle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    a {
      margin-bottom: 20px;
      padding: 10px;
      background: rgba(0,0,0,0.03);
      color: black;
      cursor: pointer;
    }
    a:hover {
      background: black;
      color: white;
      transition: color .5s, background-color .5s, border-color .5s;
    }
  }
}

.section-title h2 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: black;
}


.section-title h2::after {
  content: "";
  display: block;
  width: 120px; /* 밑줄 길이 조절 */
  border-bottom: 3px solid #000000;
  margin: 15px auto;
}

.section-title p {
  margin-bottom: 0;
}
.section-title ul {
  text-align: left;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about {
  h4 {
    font-family: Pretendard-Regular;
    font-weight: bold;
  }
  h3 {
    color: black;
  }
  mark {
    background: none;
    display: inline;
    box-shadow: inset 0 -10px 0 rgba(255, 255, 0, 0.5);
  }
  p {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
  }
  abbr[title]:hover::after {
    content:  attr(title);
    position: absolute;
    width: 120px;
    color:black;
    transition: 0.5s;
  }
  .content {
    text-align: center;
    .detail {
      text-align: left;
      display: inline-block;
      padding: 5px;
      p {
        font-size: 18px;
      }
    }

  }

  abbr{
    text-decoration: none;
    position: relative;
    cursor: default;
  }
  i {
    letter-spacing: 10px;
  }
  img {
      border: 5px solid black;
  }



}

.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #728394;
}


.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #0563bb;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts .count-box {
  padding: 30px 30px 25px 30px;
  margin-top: 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #fff;
}

.facts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: #0563bb;
  color: #fff;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.facts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #011426;
}

.facts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Akills
--------------------------------------------------------------*/
#javaIcon::before {
  background-image: url('https://cdn2.iconfinder.com/data/icons/metro-ui-icon-set/512/Java.png');
  background-size: cover;
  background-repeat: no-repeat;
}
#htmlIcon::before {
  background-image: url('https://cdn-icons-png.flaticon.com/512/1/1840.png');
  background-size: cover;
  background-repeat: no-repeat;
}
#cssIcon::before {
  background-image: url('https://cdn-icons-png.flaticon.com/512/331/331383.png');
  background-size: cover;
  background-repeat: no-repeat;
}
#jsIcon::before {
  background-image: url('https://cdn.icon-icons.com/icons2/2108/PNG/512/javascript_icon_130900.png');
  background-size: cover;
  background-repeat: no-repeat;
}
#springIcon::before {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzXS4x3mvP2VajEbpd1SkwMK5266tAvbCWEl5HfdN3r_d9S61J');
  background-size: cover;
  background-repeat: no-repeat;
}
#mysqlIcon::before {
  background-image: url('https://cdn.vectorstock.com/i/1000x1000/92/03/mysql-database-management-system-emblem-vector-36589203.webp');
  background-size: cover;
  background-repeat: no-repeat;
}
#jqIcon::before {
  background-image: url('https://www.mobilizecloud.com/wp-content/uploads/2019/08/jquery-icon-png-8.png');
  background-size: cover;
  background-repeat: no-repeat;
}
#bsIcon::before {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUXII--B0hs93D1sutowxKzVjhaRSzXE0i-jBVZiBnrbDxXyft');
  background-size: cover;
  background-repeat: no-repeat;
}




.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #45505b;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #f2f3f5;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #0563bb;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/

#resume {
  background-color: black;
  color: white;
  h2, h2::after{
    color: white;
    border-color: white;
  }
  h3 {
    display: inline-block;
  }
  .frontend{
    box-shadow: inset 0 -15px 0 rgba(139, 0, 0, 0.6);
  }
  .backend{
    box-shadow: inset 0 -15px 0 rgba(0, 0, 139, 0.6);
  }
  .database{
    box-shadow: inset 0 -15px 0 rgba(0, 100, 0, 0.6);
  }
  img {
    width: 30%;
    margin: 5px;
    filter : drop-shadow(-10px 0px 10px rgba(90, 90, 90,0.5));
  }


}
#project1Ul {
  margin-left: 30%; 
  margin-top: 3%;
}
@media (max-width: 991px) {
  #project1Ul {
    margin-left: 0; 
  }
}
#project2Ul{
  margin-left: 40%; 
  margin-top: 3%;
}
@media (max-width: 991px) {
  #project2Ul {
    margin-left: 0; 
  }
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.resume .resume-item {
  padding: 0 0 20px 35px;
  margin-top: -2px;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #f7f8f9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
  font-size: 13px;
  font-family: 'Pretendard-Regular';
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  left: -24px;
  top: -13px;
  background: white;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
#portfolio {
  .portfolio-flex{
    display: flex;
    justify-content: space-between;
    border: 5px solid black;
    align-items: center;
  }
  .flex-left {
    text-align: left;

    h4 {
      color: black;
      font-size: 40px;
      line-height: 52px;
      font-weight: 600;
    }
    p {
      color: black;
      font-size: 17px;
      font-weight: 500;
      line-height: 21px;
    }
    .yaksutorBtn {
      border-radius: 0;
      margin-top: 50px;
      display: block;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: black;
      color: white;
      transition: background 0.5s ease-in-out; /* 배경 전환 애니메이션 */
    }
    .yaksutorBtn:hover {
      background-color: #b02a37;
      color: white;
      transition: background 0.5s ease-in-out, color .5s, background-color .5s, border-color .5s;
    }
    .yaksutorBtn2 {
      border-radius: 0;
      margin-top: 50px;
      display: block;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: black;
      color: white;
      transition: background 0.5s ease-in-out; /* 배경 전환 애니메이션 */
    }
    .yaksutorBtn2:hover {
      background-color: pink;
      color: white;
      transition: background 0.5s ease-in-out, color .5s, background-color .5s, border-color .5s;
    }
  }
  .flex-right {
    padding: 25% 0;
    background: transparent linear-gradient(304deg, pink 0, rgba(255, 216, 222, 0.8) 100%) 0 0 no-repeat padding-box;
    h3 {
      font-family: 'ABChanel Corpo Regular';
      color: white;
      font-weight: 600;
      font-size: 50px;
    }
  }
  .flex-right2 {

    a {
      font-family: 'chanel-kittithada', sans-serif;
      padding: 10px;
      border: thin solid black;
      text-decoration: none;
      color: black;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
      margin: 5px;
      transition: color .5s, background-color .5s, border-color .5s;
    }
    a:hover {
      background: black;
      color: white;
      transition: color .5s, background-color .5s, border-color .5s;
    }
  }
  .projectDetail {
    th {
      font-weight: 500;
      font-family: 'abchanel-2022', sans-serif;
      font-size: 17px;
    }
    td {
      padding-left: 15px;
      font-family: 'Pretendard-Regular', sans-serif;
      font-size: 16px;
    }
  }
  h4 {
    font-weight: bold;
    font-size: 24px;
    font-family: 'Pretendard-Regular';
  }
  p {
    font-size: 18px;
    mark {
      background: none;
      width: 50px;
    }
  }
  .portfolio-wrap {
    margin: 25px;
    h4 {
      color: black;
      background: white;
      padding: 10px;
      border: thin solid black;
    }
    .text-start {
      border: thin solid black;
      padding: 5px;
      background: white;
      p {
        font-size: 15px;
        text-align: left;
        color: black;
      }

    }


  }
}



.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #0563bb;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #d7dce1;
  border-right: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #45505b;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #45505b;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  margin-top: 10px;
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  background: rgba(0,0,0,.6);
  padding: 10px;
  border-radius: 50%;
  color: white;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #148af9;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #0563bb;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0563bb;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

#services {
  height: 100vh;
  background: black;
  h3 {
    font-family: 'Pretendard-Regular', sans-serif;
  }

  h2,h2::after,p,h3,li,ul {
    color: white;
    border-color: white;
    list-style: none;
  }
  .education-btn {
    a {
      margin: 10px;
      border: thin solid white;
      padding: 10px;
      background: white;
      color: black;
    }
    a:hover {
      background: black;
      color: white;
      transition: color .5s, background-color .5s, border-color .5s;
    }
  }
}
.services .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}
.services-detail {
  font-size: 14px;
  text-align: left;

}

.services .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.services .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.services .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.services .icon-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}

.services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.services .icon-box h4 a {
  color: #45505b;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.services .iconbox-blue i {
  color: #47aeff;
}

.services .iconbox-blue:hover .icon i {
  color: #fff;
}

.services .iconbox-blue:hover .icon path {
  fill: #47aeff;
}

.services .iconbox-orange i {
  color: #ffa76e;
}

.services .iconbox-orange:hover .icon i {
  color: #fff;
}

.services .iconbox-orange:hover .icon path {
  fill: #ffa76e;
}

.services .iconbox-pink i {
  color: #e80368;
}

.services .iconbox-pink:hover .icon i {
  color: #fff;
}

.services .iconbox-pink:hover .icon path {
  fill: #e80368;
}

.services .iconbox-yellow i {
  color: #ffbb2c;
}

.services .iconbox-yellow:hover .icon i {
  color: #fff;
}

.services .iconbox-yellow:hover .icon path {
  fill: #ffbb2c;
}

.services .iconbox-red i {
  color: #ff5828;
}

.services .iconbox-red:hover .icon i {
  color: #fff;
}

.services .iconbox-red:hover .icon path {
  fill: #ff5828;
}

.services .iconbox-teal i {
  color: #11dbcf;
}

.services .iconbox-teal:hover .icon i {
  color: #fff;
}

.services .iconbox-teal:hover .icon path {
  fill: #11dbcf;
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact {
  height: 100vh;
  .contact-btn {
    padding-left: 0;
    margin: auto;
    text-align: center;
    img {
      margin: 3%;
      width: 15%;
      filter: drop-shadow(-10px 0px 10px rgba(90, 90, 90, 0.5));
    }
  }
  .add-links {
    margin-top: 50px;
    text-align: center;
    h3 {
      font-family: "ABChanel Corpo Regular", sans-serif;
      font-weight: 600;
      margin-bottom: 50px;
    }
    h5 {
      font-family: 'abchanel-2022';
      font-weight: 600;
      margin: 10px;
    }
  }

}
.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  color: #0563bb;
  float: left;
  width: 44px;
  height: 44px;
  background: #eef7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #45505b;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #728394;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #0563bb;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  background: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input[type=text],
.contact .php-email-form input[type=email] {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: #0563bb;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #0678e3;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



#phoneModal {
  .modal-content {
    border: 5px solid black;
    border-radius: 0;
    input {
      font-size: 25px;
      text-align: center;
      margin: 0;
      border: none;
      padding: 10px;
    }
  }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  height: 10vh;
  background: black;
  color: white;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 1rem;
  font-weight: 600;
  font-family: "ABChanel Corpo Regular", sans-serif;
}

#footer p {
  font-size: 15px;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

.social-links ul {
  margin: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

.social-links li {
  width: 80px;
  height: 80px;
  margin: 20px 15px 0;
}

.social-links img {
  border-radius: 30px;
  width: 50%;
  height: 50%;
}

.social-links img:hover {
  box-shadow: 0px 0px 25px #DEDA55;

  transition: ease 0.5s;
}

#footer .social-links {
  margin: 0 0 40px 0;
}



#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
  .animated-text {
    position: relative;
    animation: slideInAndOut 5s ease-in-out infinite;
  }

}


.hover-up {
  -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.hover-up:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}